<nav class="navbar navbar-nav navbar-dark ">
  <h4 class="nav-title sidebar-brand d-flex align-items-center justify-content-center">Dashboard</h4>
  <div class="">
    <ul>
      <li class="nav-item"><a class="nav-link" routerLink="/">
          <i class="fa-solid fa-house"></i>
          Home</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/candidato-list">
          <i class="fa-solid fa-users"></i>
          Candidatos</a></li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/candidato-doadores">
          <i class="fa-solid fa-heart"></i>
          Doadores</a>
    </ul>
  </div>
</nav>
